notebooks
yt-chrome-plugin-frontend

sentiment-analyzer
*.egg-info

__pycache__/
dvc_standard.yaml

*.log
data/*
/lgbm_model.pkl
/tfidf_vectorizer.pkl

flask_api
src/model/model_evaluation.py
src/model/register_model.py

.github
Dockerfile
*.lock